<div class="row">
  <% 12.times do |i| %>
    <% key = 40 + i %>
    <div class="col-xs-1">
      <div class="btn-group-vertical">
        <% 4.times do |j| %>
          <% duration = (j + 1) / 4.0 %>    
          <button type="button" class="note btn <%= key_color(key) %>" data-duration="<%= duration %>" data-frequency="<%= frequency(key) %>" data-note="<%= key_name(key) %>">
            &#<%= 5776 + j %>
          </button>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<br />
<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success btn-lg btn-block" id="sequence" type="button">magic pattern</button>
  </div>
</div>

<%= include_js(['oscillate']) %>